/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background: #CCC;
  color: #333;
  font-family: "Georgia", "Times", "Times New Roman", serif;
  font-size: 30px;
  padding: 1% 3% 3%;
  text-align: center; }

h1 {
  font-weight: bold; }

p {
  font-size: 18px; }

.piano ul {
  background: #754C2A;
  border: 8px solid #000;
  border-radius: 3px;
  box-shadow: inset 0 0 10px #000;
  font-size: 0;
  margin: 2% 0;
  padding: 1.5%; }
.piano li {
  display: inline-block;
  width: 14.28571%;
  text-align: center;
  text-transform: uppercase; }
  .piano li a {
    background: #FFF;
    border: 2px solid #000;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 2px 3px #000;
    color: #000;
    display: block;
    font-size: 30px;
    outline: none;
    padding-top: 285.71429%;
    position: relative;
    text-decoration: none; }
    .piano li a:hover {
      background-color: #EEE; }
    .piano li a.playing {
      box-shadow: inset 0 2px 5px #000; }
  .piano li.black-key {
    position: absolute;
    z-index: 2;
    width: 8%; }
    .piano li.black-key a {
      background: #000;
      padding-top: 214.28571%;
      position: absolute;
      top: 0;
      left: -50%;
      width: 100%; }
  .piano li:nth-child(1) .playing {
    background-color: #F00; }
  .piano li:nth-child(3) .playing {
    background-color: #FF7F00; }
  .piano li:nth-child(5) .playing {
    background-color: #FF0; }
  .piano li:nth-child(6) .playing {
    background-color: #26a750; }
  .piano li:nth-child(8) .playing {
    background-color: #00F; }
  .piano li:nth-child(10) .playing {
    background-color: #4B0082; }
  .piano li:nth-child(12) .playing {
    background-color: #8F00FF; }

.piano-log input, .piano-log button {
  border: 2px solid #000;
  border-radius: 5px;
  font-family: "Georgia", "Times", "Times New Roman", serif;
  font-size: 30px;
  padding: 6px;
  text-align: center;
  text-transform: uppercase; }
.piano-log input {
  width: 50%; }
  .piano-log input::-webkit-input-placeholder {
    text-transform: capitalize; }
  .piano-log input::-moz-placeholder {
    text-transform: capitalize; }
.piano-log button {
  box-shadow: inset 0 0 3px #666;
  color: #FFF;
  outline: none;
  text-shadow: 1px 1px 1px #000; }
  .piano-log button:hover {
    background-color: #67c376;
    cursor: pointer; }
  .piano-log button:active {
    background-color: #009e61;
    box-shadow: none; }
  .piano-log button.play {
    background-color: #118637;
    width: 25%; }
  .piano-log button.reset {
    background-color: #ecd2d5;
    color: #F00;
    width: 5%; }
  .piano-log button[disabled] {
    background-color: #CCC;
    color: #666; }

/*# sourceMappingURL=pianoman.css.map */
